body {
    background-color: black;
}

.cuadro {
    background-color: #444;
    width: 450px;
    height: 650px;
    position: relative;
    left: 450px;
    border-radius: 30px;
    font-size: 30px;
}

#pantalla {
    background-color: white;
    width: 370px;
    height: 90px;
    position: relative;
    left: 25px;
    top: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end; /* mueve el texto a la derecha */
    align-items: center;        /* centra verticalmente */
    padding-right: 20px;
}

.con-botones {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
}

.botones {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 70px;
    left: 20px;
}

#igual{
    width: 385px;
    position: relative;
    top: 80px;
    left: 168px;
}